* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;
  color: #d8d2fb;
  line-height: 1.5;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color-scheme: dark;
}

:root {
  --default-animation-speed: 1;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.2666666667);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

hr {
  border: none;
  border-top: 1px solid #edfffe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  color: #edfffe;
  text-wrap: nowrap;
  line-height: 1.25;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: clamp(3rem, 17vw, 4rem);
  padding: 0;
  text-align: center;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  padding-bottom: 1rem;
}

b {
  font-weight: 500;
  color: #edfffe;
}

pre {
  font-family: monospace;
  overflow: auto;
}

html,
body {
  width: 100vw;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  min-height: 100%;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    padding-top: 4rem;
  }
}

header {
  width: clamp(12rem, 100% - 10vw, 20rem);
}
@media screen and (min-width: 768px) {
  header {
    width: 20rem;
  }
}

#gap {
  width: 1rem;
  height: 2rem;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  #gap {
    width: min(9vw, 7rem);
  }
}

main {
  width: clamp(12rem, 100% - 10vw, 20rem);
}
@media screen and (min-width: 768px) {
  main {
    width: min(32rem, 44vw);
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  main {
    flex-grow: 0;
  }
}
main {
  padding-bottom: 4rem;
}

section {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}

@property --clr-animated-main-bg-gradient {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}
html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background: linear-gradient(125deg, #2d0860 5%, #040117 95%);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: max(100vh, 100vw);
  height: max(100vh, 100vw);
  /* prettier-ignore */
  animation: mainBackgroundGradient calc(var(--default-animation-speed) * 14s) ease-in-out infinite;
  transition: --clr-animated-main-bg-gradient 2s linear;
  /* prettier-ignore */
  background: radial-gradient(circle at 10% 10%, var(--clr-animated-main-bg-gradient) 10%, #040117 110%);
}

#foreground {
  --floating-title-size: clamp(2rem, 17vw, 6rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
#foreground span {
  overflow: visible;
  user-select: none;
  text-wrap: nowrap;
  color: #edfffe;
  font-size: var(--floating-title-size);
  font-weight: 200;
  position: fixed;
  top: 35%;
  left: 50vw;
  transform: translate(-50%, -50%);
}
#foreground span .underline {
  position: absolute;
  top: calc(var(--floating-title-size) * 1.2);
  z-index: -1;
  height: clamp(2px, 0.5vw, 3px);
  box-shadow: 0px 0px 10px 1px #009aff;
  background: linear-gradient(to right, #009aff calc(var(--underline-full-width) - 200px), #edfffe calc(var(--underline-full-width)));
}
#foreground button {
  position: fixed;
  top: 5rem;
  left: 50vw;
  top: calc(var(--floating-title-size) + 35%);
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-50%);
  width: 8rem;
  height: 2rem;
  pointer-events: auto;
}
#foreground button:hover {
  text-decoration: underline;
}

@keyframes mainBackgroundGradient {
  0% {
    --clr-animated-main-bg-gradient: oklab(from hsl(250, 100%, 23%) l a b);
  }
  25% {
    --clr-animated-main-bg-gradient: oklab(from hsl(220, 100%, 23%) l a b);
  }
  50% {
    --clr-animated-main-bg-gradient: oklab(from hsl(250, 100%, 23%) l a b);
  }
  75% {
    --clr-animated-main-bg-gradient: oklab(from hsl(260, 100%, 23%) l a b);
  }
  100% {
    --clr-animated-main-bg-gradient: oklab(from hsl(250, 100%, 23%) l a b);
  }
}
hr.title {
  border-top: 2px solid #009aff;
  width: 100%;
  margin-top: clamp(0rem, 5vw, 0.5rem);
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
nav button {
  user-select: none;
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
  /* prettier-ignore */
  transition: background-color calc(var(--default-animation-speed) * 200ms) ease-in-out, font-weight calc(var(--default-animation-speed) * 200ms) ease-in-out, padding calc(var(--default-animation-speed) * 200ms) ease-in-out;
  font-weight: 400;
  background-color: transparent;
  color: #edfffe;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
}
nav button:hover, nav button.selected, nav button.recently-selected {
  background-color: rgba(237, 244, 255, 0.1568627451);
  font-weight: 600;
  padding: 0.25rem 0.25rem 0.25rem 2.5rem;
}
nav button:hover {
  background-color: rgba(229, 227, 255, 0.2039215686);
}
nav button.recently-selected {
  transition: background-color 0s ease-in-out, font-weight calc(var(--default-animation-speed) * 200ms) ease-in-out, padding calc(var(--default-animation-speed) * 200ms) ease-in-out;
  padding: 0.25rem 0.25rem 0.25rem 2.5rem;
  background-color: rgba(222, 220, 255, 0.3411764706);
}
nav .nav-divider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.25rem;
}
nav .nav-divider p {
  flex-shrink: 0;
  padding: 0;
  color: #edfffe;
  user-select: none;
}
nav .nav-divider hr {
  border-top: 1px solid #d8d2fb;
  margin: 0;
  width: 100%;
}

label {
  user-select: none;
}

input {
  margin: 0.25rem;
  padding: 0.25rem;
  background: none;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.25rem;
}
form fieldset {
  width: 100%;
  padding-left: 6rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
}
form fieldset label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  accent-color: #009aff;
}
form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}
form div:has(textarea) {
  flex-grow: 1;
}
form div label {
  padding-top: 0.5rem;
  accent-color: #009aff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-shrink: 0;
  color: #edfffe;
  width: 5rem;
}
form div input,
form div select,
form div textarea {
  accent-color: #009aff;
  flex-grow: 1;
  min-width: 0;
  width: auto;
  margin: 0.25rem;
  padding: 0.25rem;
  background: none;
  border: 1px solid #edfffe;
  color: #d8d2fb;
  transition: background-color calc(var(--default-animation-speed) * 100ms) linear;
}
form div input:hover,
form div select:hover,
form div textarea:hover {
  box-shadow: 0px 0px 6px 0px #edfffe;
}
form div input[type=text]:focus,
form div input[type=email]:focus,
form div textarea:focus {
  background-color: rgba(249, 251, 255, 0.1568627451);
}
form div textarea {
  min-height: 12rem;
  resize: none;
}

project-box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
project-box div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  flex-grow: 1;
  flex-shrink: 0;
}
project-box div figure,
project-box div img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  filter: drop-shadow(2px 2px 6px #27282b);
}
project-box div figure {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2039215686);
}
project-box div p {
  filter: drop-shadow(2px 2px 6px #27282b);
  color: #edfffe;
  white-space: nowrap;
  overflow: visible;
  padding: 0;
  flex-shrink: 0;
}

disassembly-canvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
disassembly-canvas canvas,
disassembly-canvas div,
disassembly-canvas img {
  margin-bottom: 1rem;
}
disassembly-canvas canvas {
  image-rendering: pixelated;
  align-self: center;
  overflow: visible;
}
disassembly-canvas div span {
  font-weight: 700;
  color: #edfffe;
  margin-right: 0.5rem;
}
disassembly-canvas div a {
  text-decoration: underline;
  min-height: 1.5rem;
}
disassembly-canvas div a:hover {
  color: #edfffe;
}
disassembly-canvas img {
  image-rendering: pixelated;
  width: 100%;
  height: 10px;
}

img.flipped {
  transform: scale(-1, 1); /* Flip SVG horizontally */
}

button.heading-generator {
  width: 200px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
