/*@mixin phone {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 577px) and (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 993px) {
    @content;
  }
}*/
* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;
  color: #e8e4ff;
  line-height: 1.5;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --default-animation-speed: 1;
  --standard-gap: 2.25rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.2666666667);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

hr {
  border: none;
  border-top: 1px solid #d9faf8;
}

html,
body {
  width: 100%;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

html {
  height: 100%;
  background: linear-gradient(125deg, #2d0860 5%, #01002c 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  min-height: 100%;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    padding-top: 4rem;
  }
}

header {
  width: calc(100% - 4rem);
}
@media screen and (min-width: 768px) {
  header {
    width: 20rem;
  }
}

#gap {
  width: 1rem;
  height: 2rem;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  #gap {
    width: min(7vw, 5rem);
  }
}

main {
  width: calc(100% - 4rem);
}
@media screen and (min-width: 768px) {
  main {
    width: min(32rem, 40vw);
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  main {
    flex-grow: 0;
  }
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  padding-bottom: 4rem;
}

img .flipped {
  transform: scale(-1, 1); /* Flip SVG horizontally */
}

.heading-generator {
  width: 200px;
  height: 40px;
}

label {
  user-select: none;
}

input {
  margin: 0.25rem;
  padding: 0.25rem;
  background: none;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.25rem;
}
form fieldset {
  width: 100%;
  padding-left: 6rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
}
form fieldset label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}
form div:has(textarea) {
  flex-grow: 1;
}
form div label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-shrink: 0;
  color: #d9faf8;
  width: 5rem;
}
form div input,
form div select,
form div textarea {
  flex-grow: 1;
  min-width: 0;
  width: auto;
  margin: 0.25rem;
  padding: 0.25rem;
  background: none;
  border: 1px solid #d9faf8;
  color: #e8e4ff;
  transition: background-color calc(var(--default-animation-speed) * 100ms) linear;
}
form div input:hover,
form div select:hover,
form div textarea:hover {
  box-shadow: 0px 0px 6px 0px #d9faf8;
}
form div input[type=text]:focus,
form div input[type=email]:focus,
form div textarea:focus {
  background-color: rgba(237, 244, 255, 0.1568627451);
}
form div textarea {
  min-height: 12rem;
  resize: none;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
nav button {
  user-select: none;
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
  transition: all calc(var(--default-animation-speed) * 200ms) ease-in-out;
  font-weight: 400;
  background-color: transparent;
  color: #d9faf8;
  padding: 0.25rem 0.25rem 0.25rem 1.5rem;
}
nav button:hover, nav button.active {
  background-color: rgba(237, 244, 255, 0.1568627451);
  font-weight: 600;
  padding: 0.25rem 0.25rem 0.25rem 3rem;
}
nav button:hover {
  background-color: rgba(229, 227, 255, 0.2039215686);
}
nav .nav-divider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.25rem;
}
nav .nav-divider p {
  flex-shrink: 0;
  padding: 0;
  color: #d9faf8;
  user-select: none;
}
nav .nav-divider hr {
  border-top: 1px solid #e8e4ff;
  margin: 0;
  width: 100%;
}

hr.title {
  border-top: 2px solid #009aff;
  width: 100%;
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  color: #d9faf8;
  font-weight: 200;
  text-wrap: nowrap;
  line-height: 1.25;
}

h1 {
  font-size: clamp(2rem, 15vw, 4rem);
  text-align: center;
}

p {
  padding-bottom: 1rem;
}

b {
  font-weight: 600;
  color: #d9faf8;
}

pre {
  font-family: monospace;
  overflow: auto;
}

/*# sourceMappingURL=style.css.map */
