@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

img.flipped {
  transform: scale(-1, 1); /* Flip SVG horizontally */
}

button.heading-generator {
  width: 200px;
  height: 40px;
}
