@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

disassembly-canvas {
  @include mixins.flex(column, flex-start, center, 0);

  canvas {
    image-rendering: pixelated;
    align-self: center;
    margin-bottom: 1rem;
  }

  a {
    margin-bottom: 1rem;
    text-decoration: underline;
    min-height: 1.5rem;

    &:hover {
      color: g.$clr-white;
    }
  }
}
