@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

@mixin easy-link() {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: g.$clr-white;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

easy-project {
  border: 1px solid g.$clr-off-white;
  background-color: rgb(g.$clr-accent, 0.1);
  padding: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  position: relative;

  max-height: 5.1rem;
  transition: all calc(var(--anim-speed) * 300ms) ease;
  overflow: hidden;

  hgroup {
    @include mixins.flex(column, flex-start, flex-start, 6px);
    transition: padding calc(var(--anim-speed) * 300ms) ease;
    width: 100%;
    padding-bottom: 0.5rem;

    div {
      @include mixins.flex(row, flex-start, flex-start, 10px);
      width: 100%;

      &.title-text {
        img {
          cursor: pointer;
        }
      }

      &.title-pins {
        flex-direction: row;
      }

      h3 {
        font-size: clamp(1rem, 6vw, 1.25rem);
        font-weight: 400;
        flex: 1;
        padding: 0;
      }

      img {
        user-select: none;
        width: 32px;
        height: 32px;
        opacity: 1;
        transition: all calc(var(--anim-speed) * 300ms) ease;
      }
    }
  }

  &.expand-easy-project {
    max-height: 60rem;
    @include q.desktop {
      max-height: 50rem;
    }

    background-color: rgb(g.$clr-accent, 0.2);

    hgroup {
      // Transition:
      padding: 0;
    }

    .title-pins img {
      height: 0px;
      opacity: 0;
    }
  }

  .dropdown {
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    left: 0.4rem;
    @include mixins.flex(row, flex-end, flex-start, 0);
    height: 2rem;
  }

  article {
    @include mixins.flex(column, stretch, stretch, 0);

    .details-easy-project {
      @include mixins.flex(column, flex-start, flex-start, 0);
      padding-bottom: 0.5rem;

      a {
        @include easy-link();
      }
    }
  }
}

a.easy-project-link {
  @include easy-link();
  align-self: flex-start;
}
