@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

hr.title {
  border-top: 2px solid g.$clr-accent;
  width: 100%;
  margin-top: 1rem;
}

nav {
  margin-top: 1rem;
  @include mixins.flex(column, flex-start, center, 0);

  button {
    user-select: none;

    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    transition: all calc(var(--default-animation-speed) * 200ms) ease-in-out;
    font-weight: 400;

    background-color: transparent;
    color: g.$clr-white;
    padding: 0.25rem 0.25rem 0.25rem 1.25rem;

    &:hover,
    &.active {
      background-color: g.$clr-nav-button-background;
      font-weight: 600;
      padding: 0.25rem 0.25rem 0.25rem 2.5rem;
    }

    &:hover {
      background-color: g.$clr-nav-button-background-lighter;
    }
  }

  .nav-divider {
    @include mixins.flex(row, flex-start, center, 0.5rem);
    width: 100%;
    margin: 0.25rem;

    p {
      //    box-shadow: inset 0px 0px 0px 1px orange;
      flex-shrink: 0;
      padding: 0;
      color: g.$clr-white;
      user-select: none;
    }

    hr {
      border-top: 1px solid g.$clr-off-white;
      margin: 0;
      width: 100%;
    }
  }
}
