@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

nav {
  margin-top: 1rem;
  @include mixins.flex(column, flex-start, center, 0);

  button {
    cursor: pointer;

    user-select: none;

    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    transition: all calc(var(--default-animation-speed) * 250ms) ease-in-out;
    font-weight: 300;

    background-color: transparent;
    color: g.$clr-white;
    padding: 0.25rem 0.25rem 0.25rem 1.5rem;

    &:hover,
    &.active {
      background-color: g.$clr-nav-button-background;
      font-weight: 600;
      padding: 0.25rem 0.25rem 0.25rem 3rem;
    }

    &:hover {
      background-color: g.$clr-nav-button-background-lighter;
    }
  }
}

hr.title {
  border-color: g.$clr-accent-light;
}
