@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

popout-element {
  .popout-placeholder,
  .popout-parent.popout-hover {
    box-shadow: inset 0 0 5px 2px g.$clr-accent;
  }

  .popout-parent {
    position: relative;

    transition: box-shadow calc(var(--default-animation-speed) * 200ms)
      ease-in-out;

    box-shadow: inset 0 0 0px 0px g.$clr-accent;

    &.popped {
      --popped-width: max(96vw, calc(100vw - 40px));
      --popped-height: max(96vh, calc(100vh - 40px));
      width: var(--popped-width);
      min-height: var(--popped-height);
      padding: 8px;

      position: fixed;
      top: 10px;
      left: calc(var(--popped-width) * -0.5 + 50%);

      box-shadow: 0 0 10px 0px g.$clr-accent, inset 0 0 5px 0px g.$clr-accent;
      background-color: #080f60ee;
      z-index: 1;
    }

    button {
      width: 2rem;
      height: 2rem;
      background-color: g.$clr-button-a;
      overflow: hidden;

      position: absolute;
      top: 0;
      right: 0;
      svg {
        padding: 0.25rem;
        width: 100%;
        height: 100%;

        path {
          fill: g.$clr-white;
        }
      }

      &:hover {
        background-color: g.$clr-button-b;
      }
      &:active {
        background-color: g.$clr-button-c;
      }
    }
  }
}
