@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

popout-element {
  position: relative;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;

    transition: box-shadow calc(var(--default-animation-speed) * 200ms)
      ease-in-out;

    box-shadow: inset 0 0 0px 0px g.$clr-accent;
  }

  &.popout-hover::after {
    box-shadow: inset 0 0 5px 2px g.$clr-accent;
  }

  .popout-placeholder {
    box-shadow: inset 0 0 5px 2px g.$clr-accent;
  }

  .popout-parent {
    position: relative;
    overflow: hidden;

    &.popped {
      --popped-width: max(96vw, calc(100vw - 40px));
      --popped-height: max(96vh, calc(100vh - 40px));
      width: var(--popped-width);
      height: var(--popped-height);
      padding: 8px;

      position: fixed;
      left: calc(var(--popped-width) * -0.5 + 50%);
      top: calc(var(--popped-height) * -0.5 + 50%);

      box-shadow: 0 0 10px 0px g.$clr-accent, inset 0 0 5px 0px g.$clr-accent;
      background-color: #080f60ee;
      z-index: 1;
    }

    button {
      width: 3rem;
      height: 3rem;
      background-color: g.$clr-button-a;
      overflow: hidden;

      position: absolute;
      top: 8px;
      right: 8px;

      svg {
        padding: 0.25rem;
        width: 100%;
        height: 100%;

        path {
          fill: g.$clr-white;
        }
      }

      &:hover {
        background-color: g.$clr-button-b;
      }
      &:active {
        background-color: g.$clr-button-c;
      }
    }

    &.popped button {
      top: 8px;
      right: 8px;
    }

    @include q.using_mouse {
      button {
        transition: opacity calc(var(--default-animation-speed) * 300ms)
          ease-in-out;
        opacity: 0;
      }
      &:hover button {
        opacity: 1;
      }
    }
  }
}

.popout-contain {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
