@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

project-box {
  @include mixins.flex(row, stretch, stretch, 0.5rem);
  flex-wrap: wrap;
  margin: 0.5rem 0;

  div {
    @include mixins.flex(row, center, center, 0.5rem);
    padding: 0.25rem 0.5rem;
    flex-grow: 1;
    flex-shrink: 0;

    figure,
    img {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      filter: drop-shadow(2px 2px 6px g.$clr-dark-grey);
    }

    figure {
      box-shadow: inset 0px 0px 0px 1px #ffffff34;
    }

    p {
      filter: drop-shadow(2px 2px 6px g.$clr-dark-grey);
      color: g.$clr-white;
      white-space: nowrap;
      overflow: visible;
      padding: 0;
      flex-shrink: 0;
    }
  }
}
