@use "./rules/media-queries" as q;
@use "./rules/global" as g;
@use "./rules/mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  color: g.$clr-white;
  text-wrap: nowrap;
  line-height: 1.25;
}

h1 {
  font-size: clamp(2rem, 15vw, 4rem);
  text-align: center;
  font-weight: 200;
}

h2 {
  font-size: clamp(1.5rem, 12.5vw, 2rem);
  padding-bottom: 1rem;
  font-weight: 300;
}

p {
  padding-bottom: 1rem;
}

b {
  font-weight: 500;
  color: g.$clr-white;
}

pre {
  font-family: monospace;
  overflow: auto;
}
