@use "./media-queries" as q;

$clr-white: #edfffe;
$clr-off-white: #e2ddff;
$clr-dark-grey: #27282b;

$clr-accent: #009aff;

$clr-background-static-a: #2d0860;
$clr-background-static-b: #040117;

* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  color: $clr-off-white;
  line-height: 1.5;
  text-decoration: none;

  overflow-x: hidden;
  scroll-behavior: smooth;

  color-scheme: dark;
}

:root {
  --anim-speed: 1;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgb($clr-white, 0.25);
  &:hover {
    background-color: rgb($clr-white, 0.4);
  }
}

hr {
  border: none;
  border-top: 1px solid $clr-white;
}
