@use "./media-queries" as q;

@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin main_column_width($column) {
  width: clamp(100% - 8vw, 100% - 4rem, 100%);

  @include q.desktop {
    @if $column == 0 {
      width: 20rem;
    } @else {
      width: min(32rem, 40vw);
    }
  }
}
