@use "./media-queries" as q;

@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin subheading($size) {
  font-size: $size;
  font-weight: 700;
}

@mixin main_column_width($column) {
  width: calc(100% - 4rem);

  @include q.desktop {
    @if $column == 0 {
      width: 20rem;
    } @else {
      width: min(32rem, 40vw);
    }
  }
}
